<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>What I Learned Today</title>
	<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/zenburn.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    </head>

    <body>
	<div class="container-fluid">
	    <header class="header">
		<nav role="navigation">
		    <ul class="list-inline pull-right">
 			<%= if logged_in?(@conn) do %>
			    <li class="list-inline-item text-muted">
				<strong>
				    <%= String.upcase(current_user(@conn).username) %>
				</strong>
			    </li>
			    <li class="list-inline-item"><%= link to: user_path(@conn, :edit, current_user(@conn)), class: "icon-link" do %>
				<i class="fa fa-cog fa-lg" aria-muted="true"></i>
			    <% end %>
			    </li>
			    <li class="list-inline-item"><%= link to: session_path(@conn, :delete), method: :delete, class: "icon-link" do %>
				<i class="fa fa-power-off fa-lg" aria-muted="true"></i>
			    <% end %>
			    </li>
			<% else %>
			    <li><%= link "Login", to: session_path(@conn, :new) %></li>
			<% end %>
		    </ul>
		</nav>
		<div class="page-title">
		    What I Learned Today
		</div>
		<hr>
	    </header>

	    <%= if get_flash(@conn, :info) do %>
		<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
	    <% end %>
	    <%= if get_flash(@conn, :error) do %>
		<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
	    <% end %>
	    <main role="main">
		<%= render @view_module, @view_template, assigns %>
	    </main>

	</div> <!-- /container -->
	<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	<script>require("js/app").App.run()</script>
	<script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>

