body {
    background-image: url("/images/computer_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed
}

h2 {
    color: SlateGray;
    font-family: monospace;
}

.tags {
    color: CornflowerBlue;
    font-weight: bold;
}

.show-hide-toggle {
    color: CornflowerBlue;
}

.container-fluid {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    padding: 5%
}

.user-icon {
    width: 32px;
    height: 32px
}

.post-actions {
    padding-bottom: 1em;
    margin-top: -2em;
}

.icon-link {
    color: SlateGray
}

.page-title {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    color: LightSlateGray;
    font-variant-caps: small-caps;
}

.new-post-link {
    color: SlateGray
}

.post-index-head {
    float: right
}
