<h2><%= @post.title %></h2>

<%=  render "_tags.html", tags: @post.tags %>

<div class="post">
    <%= markdown(@post.body) %>
</div>

<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
